
        #header {
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
            background-color: lightblue;
            
        }
        #shortcuts {
            text-align: center;
            color:blueviolet
        }
        .title h2{
            text-align: center;
            margin-bottom: -10px;
            background-color: yellow;
            border: 1px solid black;
            border-radius: 10px;
            padding: 8px 12px;

         }

        .text {
            text-align: center;
            margin-top: -10px;
            background-color: lightgreen;
            border: 1px solid black;
            padding: 8px 12px;
        }

        .text ul,
        .text ol{
            text-align: left;
            margin-left: 42.8%;
        }

        #projects {
            background-color: lightgreen;
            border: 1px solid black;
            padding: 8px 12px;
            text-align: center ;
            width: 98.3%;
        }

        #projects article h4,
        #projects article p {
            display: inline;
            
        }

        #contact{
            margin-bottom: -17px;
            background-color: red;
            border: 1px solid black;
            border-radius: 10px;
            width: 15.37%;
            padding: 8px 12px;
            margin-left: 30px;
            text-align: center;
        }

        #contact2{
            background-color: lightgrey;
            border: 1px solid black;
            width: 17%;
            margin-left: 30px;
        }
